
.App{
  text-align: center;
}
#con{
  display: grid;
  grid-template-columns: repeat(3,1fr);
padding: 40px;
}
#card{
   width:350px;
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px rgb(219, 216, 216);
}
#toggleBtn{
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: bolder;
}
/* Assignment CSS */
.countBtn{
  padding: 5px;
  background-color: black;
  color: white;
margin: 10px;
}
#cardCon{
  border:"2px solid black";
  width:"700px";
  margin:"20px 100px 100px 250px";
  display:"flex"
}